.tml {
  @include border-box;

  max-width: 980px;
  padding-left: 13px;
  padding-right: 96px;
  padding-top: 215px;
  padding-bottom: 220px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;

  font-family: 'Trim', Helvetica Neue, Helvetica, Arial;
}

.tml__section {
  @include border-box;

  width: 8.21%;
  //max-width: 71px;
  float: left;
  height: 25px;
  margin-right: 1px;
  position: relative;

  &.tml__section_highlight {
    //opacity: 0.5 !important;
  }

  &.tml__section_gray {
    background-color: $color-gray;
  }

  &.tml__section_blue {
    background-color: $color-blue;
    color: $color-blue;

    &.tml__section_corner:before {
        @include corner($color-blue);
    }
  }

  &.tml__section_green {
    background-color: $color-green;
  }

  &.tml__section_yellow {
    background-color: $color-yellow;
    color: $color-yellow;

    &.tml__section_corner:before {
      @include corner($color-yellow);
    }
  }

  &.tml__section_grad {
    background-image: url(#{$img-path}grad-bg.png);
    background-repeat: repeat-x;
    color: $color-green;

    &.tml__section_corner:before {
      @include corner($color-green);
    }
  }

  &.tml__section_start-line {
    &:after {
      content: "";
      width: 5px;
      height: 44px;
      background-color: $color-dark-blue;
      position: absolute;
      right: 22%;
      top: -6px;
    }
  }

  &.tml__section_corner {
    &:before {
      content: "";
      position: absolute;
      left: 5px;
      bottom: -3px;
    }
  }

  &:last-of-type:after {
    content: "";
    background-color: $color-dark-blue;
    height: 1px;
    width: 100px;
    right: -100px;
    top: 50%;
    position: absolute;
    margin-top: -1px;
  }
}


.tml__month {
  color: #fff;
  display: block;
  font-size: 10px;
  padding-top: 14px;
  padding-left: 7px;

  &.tml__month_mobile { display: none; }
}

.tml__year {
  width: 26px;
  height: 14px;
  background-color: $color-dark-blue;
  text-align: center;
  line-height: 14px;
  color: #fff;
  display: block;
  font-size: 10px;
  position: absolute;

  &.tml__year_prev {
    top: 199px;
    left: 13px;
  }

  &.tml__year_next {
    top: 209px;
    right: 65px;
  }
}

.tml__text {
  color: inherit;
  font-size: 16px;
  white-space: nowrap;
  margin: 6px 0 0;
  font-weight: 500;
  background: #fff;
  position: relative;
  z-index: 6;
  padding: 2px 0;

  // to extend white background
  width: 165px;

  &.tml__text_14 { font-size: 14px }

  &.tml__text_small {
    font-size: 10px;
    padding-left: 2px;
    display: inline-block;
    margin-top: 0;
    position: relative;
    top: -1px;
    font-weight: 300;
  }

  &.tml__text_wrap {
    padding-left: 0;
    top: 0;
    display: block;
    margin-top: -5px;
  }

  &.tml__text_mobile {
    display: none;
  }
}

.tml__strategy {
  color: $color-dark-blue;
  position: absolute;
  right: 15px;
  font-size: 11px;
  top: 231px;
  z-index: 8;
}

.tml__milestone {
  @include border-box;

  background-repeat: no-repeat;
  background-position: 50% 0;
  //display: inline-block;
  position: absolute;
  text-align: center;
  color: $color-milestone;
  width: 140px;

  &.tml__milestone_top {
    height: 211px;
    top: -186px;
  }

  &.tml__milestone_bottom {
    height: 213px;
    bottom: -188px;

    &:after { top: 9px; }
    &:before { top: 16px; }
  }

  &.tml__milestone_1 {
    background-image: url(#{$img-path}logo-1.png);
    left: -11px;
    padding-top: 84px;
  }

  &.tml__milestone_2 {
    background-image: url(#{$img-path}logo-2.png);
    left: -36px;
    padding-top: 166px;
    background-position: 54% 90px;

    &:before {
      height:69px;
      left: 74px;
    }
    &:after {
      left: 73px;
    }
  }

  &.tml__milestone_3 {
    background-image: url(#{$img-path}logo-3.png);
    padding-top: 77px;
    left: -19px;
    top: -179px;

    &:before {
      left: 83px;
      height: 63px;
    }
    &:after {
      left: 83px;
      bottom: 15px;
    }
  }

  &.tml__milestone_4 {
    background-image: url(#{$img-path}logo-4.png);
    padding-top: 167px;
    background-position: 50% 89px;
    left: -2px;

    &:before {
      left: 66px;
      height: 69px;
    }
    &:after {
      left: 65px;
    }

    .tml__title { font-weight: 400; font-size:12px; }
  }

  &.tml__milestone_5 {
    background-image: url(#{$img-path}logo-5.png);
    padding-top: 77px;
    top: -179px;
    left: -3px;

    &:before {
      height: 64px;
      left: 64px;
    }

    &:after {
      bottom: 15px;
      left: 63px;
    }
  }

  &.tml__milestone_6 {
    background-image: url(#{$img-path}logo-6.png);
    padding-top: 74px;
    top: -176px;
    left: -10px;
    height: 200px;

    &:before { height: 57px }
  }

  &.tml__milestone_7 {
    background-image: url(#{$img-path}logo-7.png);
    padding-top: 82px;
    top: -183px;
    left: 28px;

    &:before {
      height: 48px;
      left: 35px;
    }

    &:after {
      bottom: 11px;
      left: 34px;
    }

    .tml__title {
      padding-left: 4px;
      white-space: nowrap;
    }
  }

  &.tml__milestone_8 {
    background-image: url(#{$img-path}logo-8.png);
    padding-top: 167px;
    background-position: 50% 89px;
    left: -9px;

    &:before {
      left: 72px;
      height: 69px;
    }
    &:after {
      left: 71px;
    }
  }

  &.tml__milestone_9 {
    background-image: url(#{$img-path}logo-9.png);
    padding-top: 167px;
    background-position: 50% 86px;
    left: -42px;

    &:before {
      left: 76px;
      height: 60px;
      top: 25px;
      z-index: 5;
    }
    &:after {
      left: 75px;
      top: 5px;
    }

    .tml__title { padding-left: 15px }
  }

  &:before {
    content: "";
    width: 1px;
    height: 29px;
    background-color: $color-milestone;
    position: absolute;
    left: 51%;
    margin-left: -1px;
    bottom: 16px;
  }

  &:after {
    content: "";
    width: 9px;
    height: 9px;
    background-color: $color-milestone;
    position: absolute;
    bottom: 9px;
    left: 50%;
    margin-left: -4px;
    border-radius: 50%;
  }
}

.tml__date {
  font-weight: 300;
  font-size: 11px
}
.tml__title {
  margin: 0 0 0;
  font-size: 13px;
  font-weight: 500;

  span {
    font-weight: 300;
    display: block;
  }
}

.tml__milestone-text {
  white-space: nowrap;
  text-align: center;
  font-weight: 300;
  font-size: 9px;
  margin-top: 2px;
  line-height: 11px;
}

@media screen and (min-width: 769px) and (max-width: 960px) {
  .tml__section {
    width: 8.182%;

    &.tml__section_start-line:after {
      right: 10%;
    }
  }

  .tml__milestone {
    background-size: 40% auto;
    background-position: 50% 21px;
  }

  .tml__title {
    font-size: 10px;
  }

  .tml__milestone {
    &.tml__milestone_4 .tml__title {
      font-size: 9px;
    }
  }

  .tml__text {
    font-size: 13px;
    &.tml__text_small {
      font-size: 9px;
    }
  }

  .tml__milestone {
    &.tml__milestone_1 {
      left: -25px;
    }

    &.tml__milestone_3 {
      left: -35px;
    }
    &.tml__milestone_4 {
      left: -18px;
    }

    &.tml__milestone_5 {
      left: -16px;
    }

    &.tml__milestone_6 {
      left: -23px;
      top: -179px;
    }

    &.tml__milestone_7 {
      left: 15px;
    }

    &.tml__milestone_8 {
      left: -22px;
    }
  }
}

@media screen and (max-width: 768px) {
  .tml {
    padding-top: 45px;
    padding-left: 134px;
    width: 480px;
    padding-right: 0;
  }

  .tml__year {
    &.tml__year_prev {
      top: 26px;
      left: 135px;
      width: 28px;
    }

    &.tml__year_next {
      bottom: 193px;
      left: 136px;
      width: 27px;
      height: 16px;
      right: auto;
      top: auto;
      z-index: 3;

      &:after {
        content: '';
        left: -3px;
        top: 4px;
        position: absolute;

        @include corner-left($color-dark-blue);
      }
    }
  }

  .tml__section {
    float: none;
    width: 29px;
    height: 79px;
    margin-right: 0;
    margin-bottom: 1px;

    &.tml__section_start-line:after {
      transform: rotate(90deg);
      height: 49px;
      top: 34px;
      right: 11px;
    }

    &.tml__section_corner {
      &:before {
        content: "";
        position: absolute;
        left: -3px;
        bottom: auto;
        top: 5px;
      }
    }

    &.tml__section_blue {
      &.tml__section_corner:before {
        @include corner-left($color-blue);
      }
    }

    &.tml__section_yellow {
      &.tml__section_corner:before {
        @include corner-left($color-yellow);
      }
    }

    &.tml__section_grad {
      background-image: url(#{$img-path}grad-bg-vertical.png);
      background-repeat: no-repeat;
      &.tml__section_corner:before {
        @include corner-left($color-green);
      }
    }

    &:last-of-type:after {
      height: 111px;
      width: 1px;
      right: 13px;
      top: 100%;
      position: absolute;
      margin-top: 0;
    }
  }

  .tml__text {

    &.tml__text_main {
      width: 134px;
      position: absolute;
      left: -134px;
      top: -6px;
      font-size: 19px;
      padding-right: 13px;
      box-sizing: border-box;
      margin-top: 0;
      padding-top: 0;
      text-align: right;
    }

    &.tml__text_small {
      display: block;
      width: auto;
      font-size: 13px;
    }
    &.tml__text_desktop {
      display: none;
    }
    &.tml__text_mobile {
      display: block;
    }
  }

  .tml__milestone {
    top: -6px;
    left: 96px !important;
    height: auto;
    padding-left: 93px;
    background-position: 0 0 !important;
    text-align: left;
    padding-top: 0 !important;
    width: 230px;
    min-height: 100px;
    
    &:before {
      width: 75px;
      height: 1px !important;
      left: -78px !important;
      margin-left: 0;
      bottom: auto;
      top: 65px;
    }

    &:after {
      bottom: auto !important;
      top: 61px;
      left: -82px !important;
      margin-left: 0;
    }

    &.tml__milestone_top {
      top: 0;
      height: auto;
    }
    &.tml__milestone_bottom {
      bottom: 0;
      height: auto;
    }

    &.tml__milestone_1 {
      .tml__title br { display: none }
    }

    &.tml__milestone_2 {
      top: 25px;

      &:before {
        top: 28px;
        width: 65px;
      }

      &:after { top:24px }
    }

    &.tml__milestone_3 {
      top: 44px;

      &:before {
        top: 25px;
        width: 68px;
      }
      &:after { top: 21px }
    }

    &.tml__milestone_4 {
      top: 140px;

      &:before {
        top: -16px;
        width: 1px !important;
        height: 11px !important;
        left: 33px !important;
      }

      &after {
        display: none;
      }
    }

    &.tml__milestone_5 {
      top: 149px;
      padding-top: 10px !important;

      &:before {
        top: -84px;
        width: 42px;
      }
      &:after {
        top: -88px;
      }

      .tml__arrow_vert_mobile {
        position: absolute;
        top: -84px;
        left: -37px;
        width: 1px;
        background: $color-milestone;
        height: 117px;
      }

      .tml__arrow_hor_mobile {
        position: absolute;
        top: 32px;
        left: -37px;
        width: 25px;
        background: #006580;
        height: 1px;
      }
    }

    &.tml__milestone_6 {
      top: 4px;
      padding-top: 11px !important;

      &:before {
        top: 62px;
        width: 65px;
      }
      &:after { top:58px; }
    }

    &.tml__milestone_7 {
      top: 16px;

      &:before {
        top: 51px;
        width: 63px;
      }

      &:after {
        top: 48px;
      }

      .tml__title { padding-left: 0 }
    }

    &.tml__milestone_8 {
      top: 119px;
      padding-top: 10px !important;
      &:before {
        top: -14px;
        width: 1px;
        height: 10px !important;
        left: 33px !important;
      }
      &:after {
        display: none;
      }
    }

    &.tml__milestone_9 {
      top: 55px;
      padding-top: 12px !important;

      .tml__title { padding-left: 0 }

      &:before {
        top: -17px;
        width: 43px;
      }
      &:after {
        top: -20px;
      }

      .tml__arrow_vert_mobile {
        position: absolute;
        top: -17px;
        left: -36px;
        width: 1px;
        background: $color-milestone;
        height: 56px;
      }

      .tml__arrow_hor_mobile {
        position: absolute;
        top: 38px;
        left: -36px;
        width: 25px;
        background: #006580;
        height: 1px;
      }
    }

  }

  .tml__milestone-text {
    text-align: left;
  }

  .tml__month {
    display: none;

    &.tml__month_mobile {
      display: block;
      padding-left: 0;
      padding-top: 4px;
      text-align: center;
    }
  }

  .tml__strategy {
    left: 17px;
    font-size: 16px;
    bottom: 179px;
    z-index: 8;
    text-align: right;
    top: auto;
    right: auto;
  }
}

@media screen and (max-width: 480px) {
  .tml {
    padding-left: 96px;
  }

  .tml__text {
    &.tml__text_main {
      font-size: 13px;
    }
    &.tml__text_small {
      font-size: 10px;
    }
  }

  .tml__milestone {
    left: 66px !important;
    background-size: 20% auto;
    padding-left: 50px;
    //background-position: 0 0px !important;

    &:after {
      left: -52px !important
    }

    &:before {
      width: 45px;
      left: -48px !important;
    }

    &.tml__milestone_1 {
      background-position: 0 20px !important;
    }

    &.tml__milestone_2 {
      &:before {
        width: 35px;
      }
    }

    &.tml__milestone_3 {
      &:before {
        width: 38px;
      }
    }

    &.tml__milestone_4 {
      top: 113px;
      .tml__title { font-size: 10px; }

      &:before {
        top: -18px;
        left: 24px !important;
      }
    }

    &.tml__milestone_5 {
      top: 149px;
      padding-top: 10px !important;

      &:before {
        top: -84px;
        width: 25px;
      }

      .tml__arrow_vert_mobile {
        position: absolute;
        top: -84px;
        left: -23px;
        width: 1px;
        background: $color-milestone;
        height: 117px;
      }

      .tml__arrow_hor_mobile {
        position: absolute;
        top: 32px;
        left: -23px;
        width: 15px;
        background: #006580;
        height: 1px;
      }
    }

    &.tml__milestone_6 {
      top: 25px;

      &:before {
        top: 16px;
      }

      &:before {
        top: 20px;
        width: 35px;
      }
    }

    &.tml__milestone_7 {
      top: 32px;

      &:before {
        width: 33px;
        top: 21px;
      }
      &:after {
        top: 17px;
      }

      .tml__title {
        white-space: normal;
      }
    }

    &.tml__milestone_8 {
      top: 108px;
      &:before {
        left: 24px !important;
        top: -20px;
      }
    }

    &.tml__milestone_9 {
      padding-top: 12px !important;
      background-position: 0 13px !important;
      top: 55px;
      
      &:before {
        width: 23px;
      }

      .tml__arrow_vert_mobile {
        left: -26px;
      }

      .tml__arrow_hor_mobile {
        left: -26px;
        width: 15px;
      }
    }
  }

  .tml__strategy {
    font-size: 13px;
    bottom: 160px;
  }

  .tml__year.tml__year_next {
    bottom: 166px;
    left: 120px;
  }

  .tml__title {
    font-size: 11px;
    width: 100px;
  }
  .tml__milestone-text {
    width: 100px;
    white-space: normal;
  }
}